.active-page{
    color: darkgreen;
    background-color: lightpink;
}

.nav-link:hover{
    background-color: lightpink;
}

.content{
    position: relative;
}

.base-nav-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 50px;
    opacity: .1;
}