<section>
    <div class="honk fs-30">
        Meet the Artist
    </div>

    <div class="single-day fs-30">
        <img src="https://lh3.googleusercontent.com/pw/ABLVV87h7xRlIytcZqTVZTeBgu0YfsvdsftO7NmCd8hcH-IPTkj67lAy4xx1ayHvLUJiFMIsq6VgzbcYDVS6FydCHQledGl8p8ChaD7CnqAytiQWOgC5WXZn" width="200" height="200" alt="">
        Jasmine is the heart and soul behind the mesmerizing artworks showcased on this platform. From a
        young age, her curiosity and love for art have blossomed into a remarkable talent that spans various mediums.
        Whether it's the delicate strokes of watercolors, the bold hues of crayons, the intricate lines of pens, or the
        timeless beauty of pencil art, Jasmine brings each piece to life with a unique touch.
    </div>
</section>