<footer>
    <div class="content">
        <p>&copy; {{year}} 
            <a href="mailto:jzon_03@yahoo.com">
                Jayson Guevarra
            </a>
        </p>
        <div>
            <a class="nav-link" routerLink="/privacy">Privacy Notice</a>
        </div>
        <hr>
        <h1 class="social-media">
            <a href="https://www.youtube.com/channel/UCpFayr0waJ01dIE-e3S8BPQ">
                <i class="bi bi-youtube"></i>
            </a>
            <a (click)="underConstruction()" class="incomplete">
                <i class="bi bi-facebook"></i>
            </a>
            <a (click)="underConstruction()" class="incomplete">
                <i class="bi bi-instagram"></i>
            </a>
        </h1>
    </div>
</footer>