<footer>
    <div class="content">
        <p>&copy; {{year}} 
            <a href="mailto:jzon_03@yahoo.com">
                Jayson Guevarra
            </a>
        </p>
        <h1 class="social-media">
            <a href="https://www.youtube.com/@Jasminescolorfulworld-nx7fq">
                <i class="bi bi-youtube"></i>
            </a>
            <a (click)="underConstruction()" class="incomplete">
                <i class="bi bi-facebook"></i>
            </a>
            <a (click)="underConstruction()" class="incomplete">
                <i class="bi bi-instagram"></i>
            </a>
        </h1>
    </div>
</footer>