<section>
    <app-home-section2></app-home-section2>
    
    <!-- Auto Ads will automatically place ads here - manual ads disabled -->
    <!-- 
    <div class="ad-container">
        <app-adsense 
            adSlot="1234567890" 
            adFormat="auto"
            [fullWidthResponsive]="true"
            [disabled]="true">
        </app-adsense>
    </div>
    -->
    
    <app-home-section1></app-home-section1>
    
    <!-- Auto Ads enabled - manual placement commented out -->
    <!--
    <div class="ad-container">
        <app-adsense 
            adSlot="0987654321" 
            adFormat="rectangle"
            [fullWidthResponsive]="false"
            [disabled]="true">
        </app-adsense>
    </div>
    -->
</section>
