<section>
    <app-home-section2></app-home-section2>
    
    <!-- AdSense Ad - Between sections -->
    <div class="ad-container">
        <app-adsense 
            adSlot="1234567890" 
            adFormat="auto"
            [fullWidthResponsive]="true">
        </app-adsense>
    </div>
    
    <app-home-section1></app-home-section1>
    
    <!-- AdSense Ad - After content -->
    <div class="ad-container">
        <app-adsense 
            adSlot="0987654321" 
            adFormat="rectangle"
            [fullWidthResponsive]="false">
        </app-adsense>
    </div>
</section>
