<div class="content">
    <img src="assets/images/art_creative_repeat.png" alt="">
    <section>
        <mat-tab-group>
            <mat-tab label="Sketch">
                <app-youtube-sketch></app-youtube-sketch>
            </mat-tab>
            <mat-tab label="Watercolor">
                <app-youtube-watercolor></app-youtube-watercolor>
            </mat-tab>
            <mat-tab label="Crafts">
                <app-youtube-crafts></app-youtube-crafts>
            </mat-tab>
            <mat-tab label="Activities">
                <app-youtube-activities></app-youtube-activities>
            </mat-tab>
        </mat-tab-group>
    </section>
</div>