/* You can add global styles to this file, and also import other style files */
@import url('assets/css/google-fonts.css');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fs-50{
    font-size: 50px;
    line-height: 1.0;
}
.fs-30{
    font-size: 30px;
    line-height: 1.0;
}
.fs-20{
    font-size: 20px;
    line-height: 1.0;
}